
body{
    background-color: #F3C8E2;
  }
  .main{
    text-align: center;
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    color:#F8F9DD;
    font-size: 35px;
  
  }
  button{
      background-color: #F3C8E2;
      outline-color: white;
      border-color: white;
      border-radius: 30px;
  }
  
  