.song-cell {
    border: 1px solid #000;
    text-align: center;
    width: 200px;
    height: 30px;
  }
  
  /* Styles for guessed songs */
  .song-cell.guessed {
    background-color: rgb(196, 230, 196);
  }
  
  /* Container for the tables */
  .table-container,.table-container2 {
    display: flex;
    gap: 40px; /* Adjust the gap between tables as needed */
  }
  
  /* Apply consistent margin for all tables */
  .debut, .fearless, .speak-now, .red {
    margin-right: 10px;
  }
  .reputation, .lover, .folklore,.evermore{
    margin-right: 9px;
  }
.topScreen
{
    text-align:center;
}
.unguessed {
    color: red; /* or any other color you prefer */
  }
  .hidden{
      display: none;
  }
