@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.song-cell {
    border: 1px solid #000;
    text-align: center;
    width: 200px;
    height: 30px;
  }
  
  /* Styles for guessed songs */
  .song-cell.guessed {
    background-color: rgb(196, 230, 196);
  }
  
  /* Container for the tables */
  .table-container,.table-container2 ,.table-container3{
    display: flex;
    gap: 40px; /* Adjust the gap between tables as needed */
  }
  
  /* Apply consistent margin for all tables */
  .debut, .fearless, .speak-now, .red {
    margin-right: 10px;
  }
  .reputation, .lover, .folklore,.evermore{
    margin-right: 9px;
  }
.topScreen
{
    text-align:center;
}
.unguessed {
    color: red; /* or any other color you prefer */
  }
  .hidden{
      display: none;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  button{
    outline-color: white;
    border-color: #333333;
    border-radius: 30px;;
    width: 100px; 
    height:40px;
    margin-left:10px;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
  }
 .trySong
 {
     width: 80 px;
     height: 30px;
     margin-bottom: 10px;

 }
 body{
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    
 }